.cart input[type="number"]::-webkit-inner-spin-button,
.cart input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

.cart .cart_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.cart .cart_wrapper .col1 {
    width: 50%;
    padding: 2rem;
}

.cart_items_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 1rem;
}

.cart_wrapper .col2 h2 {
    font-family: "ProximaNova", arial, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb(40, 44, 63);
}

.cart_items_wrapper a img {
    padding: 1rem;
    border-radius: 2rem;
    max-width: 300px;
}

.cart_items_details_wrapper {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.cart_items_details_wrapper .text_details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    gap: .5rem;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    align-self: center;
}

.cart_items_details_wrapper .text_details p {
    color: var(--secondary-color);
}

.cart_items_details_wrapper .action_buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0rem 1rem;
}

.cart_items_details_wrapper .action_buttons button {
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.cart_items_details_wrapper .action_buttons .quantity_buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 1rem
}

.cart_items_details_wrapper .action_buttons .quantity_buttons .plus,
.cart_items_details_wrapper .action_buttons .quantity_buttons .minus {
    height: 2rem;
    border: 1px solid var(--primary-color);
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.cart_items_details_wrapper .action_buttons .quantity_buttons .quantity {
    height: 2rem;
    padding: .5rem;
    border-radius: .5rem;
    font-size: large;
}

.cart_items_details_wrapper .action_buttons button img {
    width: 20px;
}

.cart_items_details_wrapper .text_details h2 {
    font-family: "ProximaNova", arial, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(40, 44, 63);
}

.cart .col1 .coupon_box {
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cart .col1 .coupon_box input {
    height: 2.5rem;
    padding: .5rem;
    font-size: medium;
    border-radius: .5rem;
    border: 1px solid grey;
}

.cart .col1 .coupon_box input:focus {
    outline: transparent;
}

.cart .col1 .coupon_box button {
    padding: .5rem 1rem;
    background: white;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
}

.cart .bill_details_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (max-width: 960px) {
    .cart .cart_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .cart .cart_wrapper .col1 {
        width: 100%;
        padding: 3rem 0;
    }

    .cart .cart_wrapper .col1 h2 {
        font-size: large;
    }

    .cart .cart_wrapper .col2 h2 {
        font-size: large;
    }

    .cart .cart_wrapper .col2 a img {
        width: 250px;
    }
}


@media only screen and (max-width: 512px) {
    .cart .cart_items_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        border-radius: 1rem;
    }

    .cart .cart_wrapper .cart_items_wrapper a img {
        width: 100%;
    }

}