.cart input[type="number"]::-webkit-inner-spin-button,
.cart input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}