.categories {
    width: 80vw;
    height: fit-content;

}

.categories .media_scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    white-space: nowrap;
}



.categories .media_element {
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
    cursor: pointer;
    margin-left: -3rem;

}

.categories .media_element {
    margin-top: -3rem;
}


.categories .media_element>img {
    inline-size: 100%;
    object-fit: cover;
    scale: .5;
}

.categories .media_element {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    color: rgba(0, 0, 0, 0.7);
    font-size: medium;
    font-weight: bold;
    font-size: large;
    font-family: "Basis Grotesque Pro";
}

.categories p {
    margin-top: -3rem;
}


@media only screen and (max-width: 776px) {

    .categories .media_element {
        font-family: "Basis Grotesque Pro";
        color: rgba(0, 0, 0, 0.7);
        font-size: medium;
        font-weight: bold
    }

    .categories .media_scroller {
        grid-auto-flow: column;
        grid-auto-columns: 25%;
    }

    .categories .media_element {

        display: grid;
        grid-template-rows: min-content;
        gap: 1rem;
        cursor: pointer;
        margin-left: -.5rem;

    }

}

@media only screen and (max-width: 636px) {

    .categories .media_scroller {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 30%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        scroll-behavior: smooth;
        white-space: nowrap;
    }


    .categories .carousel_heading {
        font-size: 16px;
    }

    .categories p {
        margin-top: -2rem;
    }


}

@media only screen and (max-width: 512px) {

    .categories .media_scroller {
        gap: .5rem;
        grid-auto-columns: 40%;
    }

    .categories .carousel_heading {
        font-size: 14px;
    }

}