header {
    display: block;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}

.header_wrapper {
    max-width: 1200px;
    min-width: 900px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

svg:not(:root) {
    overflow: hidden;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

[class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-downArrow:before {
    content: "\E923";
}




.logo {
    display: block;
    height: 49px;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    margin-right: 16px;
}


.d9y3g:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.location_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}

.location_title_wrapper,
.location_wrapper {
    position: relative;
}

.location_title_wrapper {
    font-weight: 700;
    color: #3d4152;
    float: left;
}

.location_title {
    display: block;
    min-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.location_title_wrapper:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 100%;
    background: var(--primary-color);
}

.location_wrapper:hover .location_title_wrapper {
    color: #fc8019;
}

.location_wrapper:hover .location_title_wrapper:after {
    background: #fc8019;
}

.location_wrapper:hover .location_text {
    color: #93959f;
}

.location_text {
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon_down_arrow_rotate {
    position: absolute;
    right: -12px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: .9rem;
    color: var(--primary-color);
    font-weight: 700;
}

.navigation {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.list_item {
    margin-right: 60px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}

.list_item:hover {
    color: #fc8019;
}

.list_item:hover ._1GTCc {
    fill: #fc8019 !important;
}

.list_item:hover ._2MSid {
    fill: #fff !important;
    stroke: #fc8019 !important;
}

.list_item_link {
    height: 100%;
    margin-left: -28px;
    color: inherit;
}

.list_item_link,
.list_item_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 28px;
}

.list_item_wrapper {
    position: relative;
    height: 80px;
    cursor: pointer;
}

._3yZyp {
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0;
}

._1GTCc {
    position: relative;
    stroke: currentColor;
    fill: #3d4152;
    stroke-width: 0;
}

._2MSid {
    fill: #fff;
    stroke-width: 2px;
    stroke: #282c3f;
}

._2vS77 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
}

.PJaej {
    color: var(--primary-color);
    font-size: 10px;
    top: 26px;
    font-weight: 600;
    position: absolute;
    right: -24px;
    text-transform: uppercase;
}

.list_item:first-child {
    margin-right: 0;
}


@media only screen and (max-width: 960px) {
    .header_wrapper {
        max-width: 100vw;
        min-width: 360px;
    }

    .navigation li:not(:nth-child(3)) {
        display: none;
    }
}


@media only screen and (max-width: 636px) {
    header {
        display: none;
    }
}